.home-page {
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 30px;

  @media only screen and (max-width: 767px) {
    padding-bottom: 5px;
  }

  .title {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;

    @media only screen and (max-width: 1024px) {
      font-size: 35px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
  }

  .avatar-section {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;

    &__avatar {
      max-width: 100%;
    }

    &__subtitle {
      font-size: 35px;
      font-weight: 800;
      text-align: center;
      line-height: 40px;
      margin-top: -50px;

      span {
        font-size: 55px;
        font-weight: 900;

        @media only screen and (max-width: 1199px) {
          font-size: 45px;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 40px;
        }

        @media only screen and (max-width: 767px) {
          font-size: 35px;
        }
      }

      @media only screen and (max-width: 1199px) {
        font-size: 25px;
      }

      @media only screen and (max-width: 1024px) {
        font-size: 20px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 30px;
        margin-top: -20px;
      }
    }
  }

  .match-section {
    &__item {
      &__title {
        background-color: #fffc00;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        width: 90%;
        margin: auto;
        display: flex;
        place-content: center;
        place-items: center;
        padding: 3px 20px;
        margin-bottom: 5px;

        span {
          color: #5a7ef7;
          padding-left: 5px
        }

        @media only screen and (max-width: 1199px) {
          width: 100%;
        }

        @media only screen and (max-width: 767px) {
          font-size: 25px;
          line-height: 30px;
          width: 80%;
          flex-direction: column;
          padding: 8px;
        }
      }

      &__time {
        text-align: center;
        font-size: 12px;
      }

      &__form {
        padding: 20px 50px 25px 75px;
        margin-top: 10px;
        position: relative;

        // box-shadow: 0px 11px 15px 0px rgba(255, 255, 255, 0.5);
        // -webkit-box-shadow: 0px 11px 15px 0px rgba(255, 255, 255, 0.5);
        // -moz-box-shadow: 0px 11px 15px 0px rgba(255, 255, 255, 0.5);
        background-image: url(/assets/images/match-bg.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        @media only screen and (max-width: 1199px) {
          padding: 15px 20px 20px 40px;
        }

        @media only screen and (max-width: 767px) {
          background-image: url(/assets/images/match-bg-mb.png);
        }

        &__teams {
          display: flex;
          place-content: space-around;
          place-items: center;
          gap: 10px;

          @media only screen and (max-width: 767px) {
            flex-direction: column;
          }

          &__team {
            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;
            gap: 5px;

            @media only screen and (max-width: 767px) {
              flex-direction: row;
              place-content: space-around;
              width: 100%;
            }

            &__logo {
              max-height: 100px;

              @media only screen and (max-width: 1199px) {
                max-height: 70px;
              }
            }

            &__name {
              font-size: 18px;
              font-weight: 500;
              text-transform: uppercase;
              text-align: center;

              @media only screen and (max-width: 1199px) {
                font-size: 14px;
              }
            }

            &__select {
              background-image: none;
              padding: 5px;
              text-align: center;
              background-color: transparent;
              color: #fff;
              font-size: 25px;
              font-weight: 700;
              line-height: 25px;
              border-radius: 0;
              min-width: 120px;
              border-width: 2px;
              font-family: 'Aldo the Apache';
              font-style: normal;

              &:focus {
                box-shadow: none;
              }
            }

            &__help-text {
              font-size: 12px;
              text-transform: uppercase;
              font-style: italic;
              background-color: #fff;
              color: #5a7ef7;
              padding: 0 3px;
              width: 100%;
              text-align: center;
              position: relative;
              margin-top: 5px;

              .caret {
                content: "";
                position: absolute;
                left: 45%;
                top: -7px;
                width: 0;
                height: 0;
                border-left: solid 5px transparent;
                border-right: solid 5px transparent;
                border-bottom: solid 7px #fff;
              }
            }
          }

          &__vs {
            font-size: 35px;
            font-weight: 700;
            line-height: 30px;

            @media only screen and (max-width: 1199px) {
              font-size: 30px;
            }
          }
        }

        &__username {
          margin-top: 20px;

          .terms-link {
            background: #5a7ef7;
            color: #fff;
            text-transform: uppercase;
            border-radius: 0;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 5px;
            float: right;
            margin-right: 20px;
          }

          .input-group {
            border-radius: 5px;
            border: 5px solid #fff;

            input {
              background: #414141;
              border-radius: 0;
              border: none;
              text-align: center;
              font-weight: 700;
              color: #fff;
              font-size: 16px;

              &::placeholder {
                color: #929292;
              }

              &:focus {
                box-shadow: none;
              }
            }

            button {
              border-radius: 0;
              border: none;
              border-left: 5px solid #fff;
              font-size: 16px;
              font-weight: 700;
              text-transform: uppercase;
              color: #2e2e2e;
            }
          }
        }

        &__action {
          text-align: center;
          margin-top: 5px;

          .btn {
            &-link {
              color: #fff;
              text-transform: uppercase;
              text-decoration: none;
            }

            &-warning {
              border-radius: 0;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 500;
              border: none;
            }
          }
        }
      }
    }
  }

  .ads {
    padding: 20px 15px 35px;
    color: #fff;

    &__left {
      background-color: #5a7ef7;
      text-align: center;
      text-transform: uppercase;
      min-height: 130px;

      &__items {
        height: 100%;

        &__item {
          place-content: center;
          place-items: center;
          display: flex;
          flex-direction: column;
          padding: 15px;

          @media only screen and (max-width: 800px) {
            padding: 10px;
          }

          @media only screen and (max-width: 525px) {
            padding: 6px;
          }

          &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 5px;

            @media only screen and (max-width: 525px) {
              font-size: 20px;
            }
          }

          &__subtitle {
            font-size: 14px;
            color: #fffc00;

            @media only screen and (max-width: 525px) {
              font-size: 12px;
            }
          }

          &__subsubtitle {
            font-size: 14px;
            color: #fffc00;

            @media only screen and (max-width: 525px) {
              font-size: 12px;
            }
          }

          &__score {
            display: flex;
            place-content: space-around;
            place-items: center;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
          }

          &__rank {
            display: flex;
            place-content: space-around;
            place-items: center;
            width: 100%;
            margin-bottom: 5px;

            &>div {
              background-image: url(/assets/images/Aston-Villa/10.png);
              background-repeat: no-repeat;
              background-size: contain;
              min-width: 90px;
              font-size: 16px;
              color: #414141;

              @media only screen and (max-width: 1170px) {
                min-width: 70px;
                font-size: 14px;
              }

              @media only screen and (max-width: 800px) {
                min-width: 60px;
                font-size: 12px;
              }
            }
          }

          &__action {
            .btn {
              border: none;
              border-radius: 0;
              padding: 2px 20px;

              @media only screen and (max-width: 1170px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    &__right {
      min-height: 130px;
      background-repeat: no-repeat;

      &__content {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        text-align: center;

        &__title {
          font-size: 16px;
          font-weight: 600;
          line-height: 25px;
          color: #ffe036;

          @media only screen and (max-width: 800px) {
            font-size: 13px;
          }
        }

        &__subtitle {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;

          @media only screen and (max-width: 800px) {
            font-size: 12px;
          }
        }

        &__action {
          margin-top: 5px;

          .btn {
            border: none;
            border-radius: 0;
            padding: 2px 20px;

            @media only screen and (max-width: 1170px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .more-prediction {

    .title {
      background-color: #ffe036;
      padding: 10px 5px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      min-width: 35px;
      transition: all 0.3s;
      display: block;
      text-align: center;

      &:hover {
        opacity: 0.9;
      }

      @media only screen and (min-width: 767px) {
        transform: rotate(180deg);
        display: flex;
        place-content: center;
        place-items: center;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }

    .other-match {
      position: relative;
      height: auto;
      background: #373737;
      padding: 29px 2px;
      text-align: center;
      display: flex;
      flex-direction: column;
      place-content: space-around;
      place-items: center;
      gap: 10px;

      img {
        max-height: 50px;
      }

      a {
        color: #fff;
        font-size: 12px;
        text-decoration: none;

        &:hover {
          opacity: 0.8;
        }
      }

      @media only screen and (min-width: 767px) {
        width: 200px;
      }

      @media only screen and (max-width: 767px) {
        flex-direction: row;
      }
    }

    @media only screen and (min-width: 767px) {
      position: fixed;
      top: 15%;
      display: flex;
      right: 0;
      right: -200px;
      -webkit-transition: right .2s;
      transition: right .2s;

      &:hover {
        right: 0;
      }
    }
  }
}